
body {
	background: <img src="https://cdn1.cdnme.se/1024491/9-3/2016-01-17-2152_569bff169606ee7d286b3633.jpg">
font: 12 pt/1.4 "Metric Regular", "Metric"
, serif;

}
h1 {
	color: #670D91;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 50px;
	font-style: bolder;
	font-variant: bolder;
	font-weight: 500;
	line-height: 50px;
}

.header {
	text-align: center;
	font-family: 'Paytone One';
	font-size:50px;
	font-style: bolder;
	font-variant: bolder;
	font-weight: 500;
	line-height: 50px;
}
.p {
	color: #893BAD;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 20px;
	font-style: bolder;
	font-variant: bolder;
	font-weight: 400;
	line-height: 20px;
}
h2 {
	color: #893BAD;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}
h3 {
	text-align: center;
	font-family: 'Paytone One';
	font-size: 15px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}
h4 {
	color: #893BAD;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 12px;
	font-style: bolder;
	font-variant: bolder;
	font-weight: 500;
	line-height: 12px;
}
.theanswer {
	color: #893BAD;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 15px;
	font-style: bolder;
	font-variant: bolder;
	font-weight: 500;
	line-height: 15px;
}
.result {
	color: #670D91;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 50px;
	font-style: bolder;
	font-variant: bolder;
	font-weight: 500;
	line-height: 50px;
}
.a {
	color: #BB8AD1;	
}
.column1 {
	text-align: center;
}
.column2 {
	color: #893BAD;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}
.questions {
	color: #893BAD;
	text-align: center;
	font-family: 'Paytone One';
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30px;
}
.column3 {
	text-align: center;
}

.btn {
	background: #670D91;
	font-family: 'Paytone One';
	font-style: normal;
	font-variant: normal;
}

.caption {
	color: #BB8AD1;
}

P {
	border-bottom: 1px 
	solid #FF9999;
	padding-bottom: 5px;
}
.resulttext {
	text-align: center;
}

}


